<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}} <span class="badge">{{priority}}</span></a></h3>
  </div>
  <div class="panel-body">
    {{description}}
  </div>
   <div class="panel-footer">
     {{date}}
   </div>
</div>

<form class="" action="/todo/{{id}}?_method=DELETE" method="post">
  <a href="/todo/{{id}}/edit" type="button" class="btn btn-default btn-warning">
    Edit todo
  </a>

  <button href="/todo/{{id}}/edit" type="submit" class="btn btn-default btn-danger">
    Delete todo
  </button>
</form>
